<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
        <h2 th:if="${param.status}" th:text="저장완료"></h2>
    </div>
    <th:block th:object="${itemDTO}">
        <div>
            <label for="itemId">상품 ID</label>
            <input type="text" id="itemId" name="itemId" class="form-control"
                   value="1" th:field="*{itemId}" readonly>
        </div>
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" name="itemName" class="form-control"
                   value="상품A" th:field="*{name}" readonly>
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" name="price" class="form-control"
                   value="10000"  th:field="*{price}" readonly>
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" name="quantity" class="form-control"c
                   value="10" th:field="*{stock}" readonly>
        </div>

        <h2 th:if="${param.status}" th:text="저장완료"></h2>
        <div th:if="${itemDTO.dType eq 'BOOK'}">
            <div>
                <label for="author">작가</label>
                <input type="text" id="author" name="quantity" class="form-control"c
                       value="10" th:field="*{author}" readonly>
            </div>
            <div>
                <label for="isbn">고유번호</label>
                <input type="text" id="isbn" name="quantity" class="form-control"c
                       value="10" th:field="*{isbn}" readonly>
            </div>
        </div>
        <div th:if="${itemDTO.dType eq 'ALBUM'}">
            <div>
                <label for="artist">아티스트</label>
                <input type="text" id="artist" name="quantity" class="form-control"c
                       value="10" th:field="*{artist}" readonly>
            </div>
            <div>
                <label for="etc">기타정보</label>
                <input type="text" id="etc" name="quantity" class="form-control"c
                       value="10" th:field="*{etc}" readonly>
            </div>
        </div>
        <div th:if="${itemDTO.dType eq 'MOVIE'}">
            <div>
                <label for="director">감독</label>
                <input type="text" id="director" name="quantity" class="form-control"
                       value="10" th:field="*{director}" readonly>
            </div>
            <div>
                <label for="actor">주인공</label>
                <input type="text" id="actor" name="quantity" class="form-control"
                       value="10" th:field="*{actor}" readonly>
            </div>
        </div>
    </th:block>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'" th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${itemDTO.itemId})}'|" type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'" th:onclick="|location.href='@{/items}'|" type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>