<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>주문 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"

                    th:onclick="|location.href='@{/orders/add}'|"
                    type="button">주문
                등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>주문상태</th>
                <th>배송상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td><a href="item.html" th:href="@{/orders/{orderId}(orderId=${order.orderId})}" th:text="${order.orderId}">주문ID</a></td>
                <td><a href="item.html" th:href="@{/orders/{orderId}(orderId=${order.orderId})}" th:text="${item.name}">상품명</a></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.stock}"></td>
                <td th:text="${order.orderStatus}"></td>
                <td th:text="${order.deliveryStatus}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>